.fish{
    height: 1000px;
    background-color: red;
    background-image: repeating-linear-gradient(to bottom right, red, black);
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.466);
    color: red;
    width: 13%;
    margin: 20px;
    text-align: center;
    border-radius: 15%;
    text-shadow: 3px 3px black;
    box-shadow: 10px 10px 5px black;
}
img {
    margin: 20px;
    border-radius: 15px;
    float: left;
    box-shadow: 10px 10px 5px black;
    max-width: 100%;
  height: auto;
}

p {
    font-size: large;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.466);
    color: red;
    width: 600px;
    margin: 30px;
    padding: 50px;
    text-align: center;
    border-radius: 15%;
    text-shadow: 3px 3px black;
    box-shadow: 10px 10px 5px black;
}

 